Model/src/xml/schemas/external/wsdl/AccountExternalInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
                  xmlns:aei="http://www.capwebct.fr/modules/payment/schema/aei"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/modules/payment/schema/aei"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="AccountExternalInformation"
                  targetNamespace="http://www.capwebct.fr/modules/payment/schema/aei"
                  >
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified"
      elementFormDefault="qualified"
      targetNamespace="http://www.capwebct.fr/modules/payment/schema/aei"
      xmlns:aei="http://www.capwebct.fr/modules/payment/schema/aei"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"

      >

  <xs:element name="getExternalAccountInformationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="homeFolderId" type="xs:string">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getExternalAccountInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="informations" type="aei:informationsType">
          <xs:annotation>
            <xs:documentation>
              The container for the informations
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="informationsType">
    <xs:sequence>
      <xs:element name="theme" type="aei:themeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="themeType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sujet" type="aei:sujetType"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Human description of the theme
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Unique theme identifier ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="sujetType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="liste" type="aei:listeType"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Human description of the theme
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Unique theme identifier ID
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Data format (text/html/liste)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="listeType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entree" type="aei:listEntryType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listEntryType">
    <xs:sequence>
      <xs:element name="clef" type="xs:string"/>
      <xs:element name="valeur" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

    </xs:schema>
  </wsdl:types>




   <wsdl:message name="GetExternalAccountInformationRequestMessage">
      <wsdl:part name="body" element="schema:getExternalAccountInformationRequest"/>
   </wsdl:message>

   <wsdl:message name="GetExternalAccountInformationResponseMessage">
      <wsdl:part name="body" element="schema:getExternalAccountInformationResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Send">
         <wsdl:input name="getExternalInformationsInput" message="aei:GetExternalAccountInformationRequestMessage"/>
         <wsdl:output name="getExternalInformationsOutput" message="aei:GetExternalAccountInformationResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="aei:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Send">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/modules/payment/schema/sre/Send"/>
         <wsdl:input name="getExternalInformationsInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getExternalInformationsOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="aei:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
